/* set background color */
body {
    background: rgb(206, 182, 212);
}

/* format "Macaron" title */
h1#title {
 text-align: center;
 font-size: 100px;
 font-family: "Lucida Handwriting", cursive, serif;
 margin-top: 20px;
 margin-bottom: 10px;   
}

/* format "Made with Love" subtitle */
h3#subtitle {
    text-align: center;
    font-size: 36px;
    font-family: "Papyrus", fantasy;
    margin-top: 10px;
    margin-bottom: 75px;
}

/* format line break */
div#break {
    text-align: center;
    margin-bottom: 75px;
}

/* format the flavor categorie titles */
h4.flavorTitle {
    text-align: center;
    font-family: "Papyrus", fantasy;
    font-size: 36px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

/* center each flavor section and add margin at bottom */
.flavorSection {
    text-align: center;
    margin-bottom: 100px;
}

/* center the divs containing photos for each section (with each image in a div)*/
div#allFlavors div.flavorSection div.macPhotos {
    display: inline-flex;
}

/* add 25px padding to each individual macaron image */
div#allFlavors div img {
    padding: 25px;
}

/* add hover style over mac photos to show flavor - from W3 schools' Fade in Overlay example */
.container {
    position: relative;
    width: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #9ee2eb;
}

.container:hover .overlay {
    opacity: 1;
}

.description {
    color: white;
    font-size: 30px;
    font-family: "Papyrus", fantasy;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}