/* set background color */
body {
    background: rgb(206, 182, 212);
}

/* format "Macaron" title */
h1#title {
 text-align: center;
 font-size: 100px;
 font-family: "Lucida Handwriting", cursive, serif;
 margin-top: 20px;
 margin-bottom: 10px;   
}

/* format "Made with Love" subtitle */
h3#subtitle {
    text-align: center;
    font-size: 36px;
    font-family: "Papyrus", fantasy;
    margin-top: 10px;
}

/* format the three flavor categories */
h4.flavorTitle {
    text-align: center;
    font-family: "Papyrus", fantasy;
    font-size: 24px;
    margin-top: 100px;
}

/* center the divs containing photos for each section (with each image in a span)*/
div#allFlavors div.flavorSection div.macPhotos {
    text-align: center;
}

/* center the divs containing photos for each section */
div#allFlavors div.macPhotos {
    text-align: center;
}

/* add 25px padding to each individual macaron image */
div#allFlavors div img {
    padding: 25px;
}

/* add margin at bottom of page for aesthetics */
div#funMacs {
    margin-bottom: 100px;
}